html, body{
    padding: 0;
    margin: 0;
    background: #1A1A1A; 
}

.main-section {
    margin-top: 20px;
}

.main-section h2{
    color: #CCC;
}


.video-class{
    width: 70%;
    margin: 0 auto;
}
 .video-class video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
 }